<ion-view title="Dictionary" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="dictionary-form5" class="list">
      <label class="item item-input" id="dictionary-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search...">
      </label>
      <ion-item class="item-thumbnail-left" id="dictionary-list-item2">
        <h2>to assemble</h2>
        <p>...</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dictionary-list-item3">
        <h2>Apple</h2>
        <p>roundish, aromatic fruit of the apple tree with skin, flesh and core</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>