<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="home-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-input1">
        <span class="input-label">Welcome Video</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input2">
        <span class="input-label">Explanation Text</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input5">
        <span class="input-label">"Imprint" Link</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input6">
        <span class="input-label">"Privacy" Link</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input7">
        <span class="input-label">Partner Logos</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="home-input8">
        <span class="input-label">Partner Logos</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>