<ion-view title="Training" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="training-form8" class="list">
      <label class="item item-input" id="training-input13">
        <span class="input-label">Training Status</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <div id="training-button-bar2" class="button-bar">
      <button id="training-button9" class="button button-positive button-block">Train with Signs</button>
    </div>
    <div id="training-button-bar4" class="button-bar">
      <button id="training-button14" class="button button-positive button-block">Train with Terms</button>
    </div>
    <div id="training-button-bar3" class="button-bar">
      <button id="training-button10" class="button button-positive button-block">Train both</button>
    </div>
    <div id="training-button-bar5" class="button-bar">
      <button id="training-button17" class="button button-positive button-block">Reset Training</button>
    </div>
  </ion-content>
</ion-view>